
.green {
  background-color: #222;
  padding: 10px;
}

ul li a:hover{
	color:#222;
  	background-color: white;
};

.padded {
	margin-top: 20px;
}

footer .social-footer {
    padding: 10px;
}

footer .social-footer li {
    display: inline-block;
    margin: 0 10px;
}

.bottom-footer {

	margin-top:40px;
}

.description {
	font-size: 20px;
}

.section {
	padding-bottom: 30px ;
	padding-top: 30px;x
}

.services {
	margin-top:15px;
	margin-bottom: 30px;
}

.team {
	margin: 80px 0;
	padding-bottom: 2px;
	background-color: white;
	box-shadow: 0 2px 3px;
}

.team .title {
	margin: 50px 0;
}

.text-center {
	text-align: center;
}

.muted {
	color: #989da0;
}

.regular {
	font-weight: 400;
}

h5 {
	font-size: 18px;
}

.description-team {
	line-height: 1.5;
	color: #000;
}

p {
	margin: 0 0 10px;
}

.team .avatar {
    position: relative;
    z-index: 2;
    margin-top: -60px;
    border-radius: 50%;
}
